<%- include('layout/head') %>

<%- include('layout/header') %>
<%- include('layout/aside') %>
<div class="content">

  <div class="panel hots">
    <h3>热门推荐</h3>
    <ul>
      <li>
        <a href="javascript:;">
          <img src="uploads/hots_2.jpg" alt="">
          <span>星球大战:原力觉醒视频演示 电影票68</span>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="uploads/hots_3.jpg" alt="">
          <span>你敢骑吗？全球第一辆全功能3D打印摩托车亮相</span>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="uploads/hots_4.jpg" alt="">
          <span>又现酒窝夹笔盖新技能 城里人是不让人活了！</span>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="uploads/hots_5.jpg" alt="">
          <span>实在太邪恶！照亮妹纸绝对领域与私处</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<%- include('layout/foot') %>
</div>
</body>
<script src="/assets/vendors/art-template/template-web.js"></script>
<script src="/assets/js/utils.js"></script>
<script src="/assets/js/detail.js"></script>
<script type="text/template" id="tp">

   <div class="article">
    <div class="breadcrumb">
      <dl>
        <dt>当前位置：</dt>
        <dd><a href="javascript:;">{{$data.name}}</a></dd>
      </dl>
    </div>
    <h2 class="title">
      <a href="/detail?id={{$data.id}}">{{$data.title}}</a>
    </h2>
    <div class="meta">
      <span>{{$data.nickname}} 发布于 {{$data.created}}</span>
      <span>分类: <a href="/list?id=${{$data.category_id}}">{{$data.name}}</a></span>
      <span>阅读: ({{$data.views}})</span>
      <span>评论: (143)</span>
    </div>
    <div class="content-detail">{{$data.content}}</div>
  </div>
</script>

</html>